:root {
  --color-primary-cyan: hsl(171, 66%, 44%);
  --color-primary-cyan-light: rgba(38, 186, 164, 0.8);
  --color-primary-blue: hsl(233, 100%, 69%);
  --color-primary-blue-light: rgba(97, 115, 255, 0.8);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);
  --color-white: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%; }

body {
  line-height: 1.7; }

.heading-primary {
  font-size: 3.8rem;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
  margin-top: 2rem;
  margin-bottom: 2rem; }

.heading-secondary {
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 2rem; }

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-dark-grayish-blue); }

.paragraph {
  color: var(--color-grayish-blue); }

.u-center-align {
  text-align: center !important; }

.u-margin-bottom-xs {
  margin-bottom: 1rem !important; }

.u-margin-bottom-s {
  margin-bottom: 2rem !important; }

.u-margin-bottom-m {
  margin-bottom: 4rem !important; }

.u-margin-bottom-l {
  margin-bottom: 6rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 8rem !important; }

.u-margin-bottom-xxl {
  margin-bottom: 10rem !important; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  color: var(--color-white);
  text-decoration: none;
  border-radius: 20rem;
  margin: 0 0.5rem;
  transition: all 0.3s; }

.btn--cyan:link, .btn--cyan:visited {
  background-color: var(--color-primary-cyan); }

.btn--cyan:hover, .btn--cyan:active {
  background-color: var(--color-primary-cyan-light); }

.btn--blue:link, .btn--blue:visited {
  background-color: var(--color-primary-blue); }

.btn--blue:hover, .btn--blue:active {
  background-color: var(--color-primary-blue-light); }

.properties-box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .properties-box__image-box {
    flex: 0 0 45%; }
  .properties-box__image {
    width: 100%;
    transform: translateX(-2.5rem); }
  .properties-box__properties {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-left: 10rem; }

.text-box {
  text-align: center;
  margin: 0 0.5rem; }
  .text-box .icon {
    margin-bottom: 2rem; }
  .text-box--large {
    max-width: 62rem;
    font-size: 1.8rem; }
  .text-box--small {
    max-width: 36rem;
    font-size: 1.5rem; }

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .header__logo-box {
    text-align: center; }
  .header__logo {
    height: 7rem; }

.row {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .row > * {
    flex: 1 1 20%; }

.footer {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.8rem;
  align-content: center; }
  .footer__logo {
    height: 5rem; }
  .footer__navigation {
    margin-right: auto; }
  .footer__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10rem; }
  .footer__items {
    text-align: start;
    padding: 0.5rem 3rem; }
  .footer__links {
    text-decoration: none;
    color: var(--color-dark-grayish-blue); }
  .footer__social {
    text-align: right; }
  .footer__social-links {
    text-decoration: none; }
    .footer__social-links:not(:last-child) {
      margin-right: 2rem; }
  .footer .attribution {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem; }
    .footer .attribution a {
      color: #3e52a3; }

section {
  margin-bottom: 10rem; }

.section-1 {
  display: flex;
  justify-content: center; }

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-3 img {
    width: 60%; }

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-5 {
  display: flex;
  justify-content: center; }

.section-6 {
  display: flex;
  justify-content: center; }
