/// Colors
:root {
  --color-primary-cyan: hsl(171, 66%, 44%);
  --color-primary-cyan-light: rgba(38, 186, 164, 0.8);

  --color-primary-blue: hsl(233, 100%, 69%);
  --color-primary-blue-light: rgba(97, 115, 255, 0.8);

  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  --color-white: #fff;
}

/// Font Sizes
$default-font-size: 1.8rem; // 18px
$h1-font-size: 3.8rem; // 30px
$h2-font-size: 2.75rem; // 27px
$h3-font-size: 2.2rem; // 22px

/// Margins
$margin-xs: 2rem; // 20px
$margin-s: 3.5rem; // 35px
$margin-m: 5rem; // 50px
$margin-l: 7rem; // 70px
$margin-xxl: 10rem; // 100px

@media only screen and (max-width: 600px) {
  $margin-xs: 1.2rem; // 12px
  $margin-s: 2.5rem; // 25px
  $margin-m: 3.8rem; // 38px
  $margin-l: 5.2rem; // 52px
  $margin-xxl: 6rem; // 60px
}
