.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 20rem;
    margin: 0 0.5rem;
    transition: all 0.3s;
  }

  &--cyan {
    &:link,
    &:visited {
      background-color: var(--color-primary-cyan);
    }

    &:hover,
    &:active {
      background-color: var(--color-primary-cyan-light);
    }
  }

  &--blue {
    &:link,
    &:visited {
      background-color: var(--color-primary-blue);
    }

    &:hover,
    &:active {
      background-color: var(--color-primary-blue-light);
    }
  }
}
