.heading-primary {
  font-size: $h1-font-size;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
  margin-top: $margin-xs;
  margin-bottom: $margin-xs;
}

.paragraph {
  color: var(--color-grayish-blue);
}
