.heading-primary {
  font-size: $h1-font-size;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
  margin-top: $margin-xs;
  margin-bottom: $margin-xs;
}

.heading-secondary {
  font-size: $h2-font-size;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
  margin-bottom: $margin-xs;
}

.heading-tertiary {
  font-size: $h3-font-size;
  font-weight: 600;
  color: var(--color-dark-grayish-blue);
}

.paragraph {
  color: var(--color-grayish-blue);
}
