.u-center-align {
  text-align: center !important;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-s {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-m {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-l {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-xl {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-xxl {
  margin-bottom: 10rem !important;

  @media only screen and (max-width: 600px) {
    margin-bottom: 4rem !important;
  }
}
