.footer {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: $default-font-size;
  align-content: center;

  &__logo-box {
    text-align: center;
    margin-right: 10rem;

    @media only screen and (max-width: 32.5em) {
      height: auto;
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 42.375em) {
      margin-right: 0;
    }
  }

  &__logo {
    height: 5rem;
  }

  &__navigation {
    margin-right: auto;
    @media only screen and (max-width: 32.5em) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 32.5em) {
      flex: 0 0 100%;
      text-align: center;
      height: auto;
      margin-bottom: 2rem;
    }
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;

    @media only screen and (max-width: 32.5em) {
      text-align: center;
      height: auto;
    }
  }

  &__items {
    text-align: start;
    padding: 0.5rem 3rem;
    @media only screen and (max-width: 32.5em) {
      text-align: center;
    }
  }

  &__links {
    text-decoration: none;
    color: var(--color-dark-grayish-blue);
  }

  &__social {
    text-align: right;

    @media only screen and (max-width: 32.5em) {
      flex: 0 0 100%;
      text-align: center;
    }
  }

  &__social-links {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .attribution {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
