.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    height: 7rem;
  }
}
