.header {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.8)
    ),
    url(../images/bg-header-desktop.png);
  background-size: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    height: 10rem;
  }
}
